
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
eb-virt/*
eb-virt
/eb-virt
/eb-virt/*

*.sql
*.sqlite
.DS_Store
.DS_Store?
*.pyc
*.pkl
*.pkl.*

/test
/test/
test/*

add_books_to_db.py

/whoosh_index_test
/whoosh_index_test/
/whoosh_index

