option_settings:
  aws:elasticbeanstalk:application:environment:
   - option_name: RDS_ENDNAME
     value: aayizo42ggblqh.cgquqdam8tpp.us-east-1.rds.amazonaws.com:5432
   - option_name: RDS_PORT
     value: 5432
   - option_name: RDS_DB_NAME
     value: ebdb
   - option_name: RDS_USERNAME
     value: dberger1989
   - option_name: RDS_PASSWORD
     value: oliver4432