{% extends "base.html" %}

{% block content %}

<div class="row align-center" style='margin-top:200px'>
<container style="width:600px">
<p>
Hello, and welcome to Bookology.com
If you're sick and tired of the same stagnant book suggestions, and want to take control over the process, you've come to the right place.
Browse for books and rate books you've read to add them to your library. 
Go to the recommendations tab to mix and match the perfect combination of books and features to find your perfect next read!
</p>
</container>
</div>

{% endblock %}