<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextRead</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename="css/foundation.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/app.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/rating.min.css") }}">


  </head>
  
  <body background="https://upload.wikimedia.org/wikipedia/commons/2/2b/Bookshelf.jpg">

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="large-12 columns">
        <h1>NextRead</h1>
      </div>
    <ul class="menu">
      <li><a href="{{ url_for('main.library') }}">My Library</a></li>
      <li><a href="{{ url_for('main.search') }}">Add Books</a></li>
      <li><a href="{{ url_for('recommender.recommendations') }}">Recommendations</a></li>
      <li><a href="{{ url_for('main.about') }}">About</a></li>


      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li> 
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Sign In</a></li> 
      {% endif %}
    </ul>

{% block content %}

{% endblock %}



    <script src= "{{ url_for('static', filename="js/vendor/jquery.js") }}"></script>
    <script src= "{{ url_for('static', filename="js/vendor/what-input.js") }}"></script>
    <script src= "{{ url_for('static', filename="js/vendor/foundation.js") }}"></script>
    <script src= "{{ url_for('static', filename="js/app.js") }}"></script>







    
  </body>
</html>
