{% block content %}


<div class="small-4 columns" id="{{ 'iter' + n|string }}" style="padding-bottom: 10px">
	<img class="library_book_cover" src="{{url_for('static', filename='book_covers/' + web_id|string + '.jpg')}}"/>
	<h6 style="width:130px">{{ title }}</h6>
	<h6 class="subheader" style="margin-top: -5px">{{ author }}</h6>
	<div class =current_rating_div id={{ current_rating }} style="display:none;"></div>
	<div class="c-rating" id='c-rating' style="margin-top: -7px">
		<div class="webId" id={{web_id}} style="display:none;" ></div>
	</div>
	<p class=removeBook onclick=removeBook([{{web_id}},{{n}}])>Remove from Library</p>
</div>





{% endblock %}