{% extends "base.html" %}


{% block content %}
{{ super() }}
  
  <div class="row" style="padding-bottom: 10px; padding-top: 30px">
  	<h4>Let's find your next book!</h4>
<meta name="csrf-token" content="{{ csrf_token() }}">
   </div>
<div class="row container" style='box-shadow: inset 0 0 10px 1px gray; height: 320px;overflow:scroll; padding: 15px'>
<div class=row>
  {% set n = 0 %}
  {% for book_read in current_user.books_read %}	
  {% set n = n+1 %}
  {% set book = db.session.query(Book).filter_by(id=book_read.book_id).first()%}
  	{% with author=book.author, title=book.title, web_id=book.web_id, n=n, current_rating=book_read.rating, book_id=book.id %}
      {% include 'recommendations_book.html' %} 
  	{% endwith %}
 	{% endfor %}
 </div>
 </div>

<div class="row" style="padding-top:15px">
<h5 class="featuresLabel">Add features</h5>
</div>
<div class="row">

<div class="small-3 column" id="selectBox1">
<div class="row" id="selectRow">
  <img class="removeFeatureButton" onclick=removeFeature(this) id="removeButton">

  <label>
    <select class="featureSelect" id='selectedValue' >

      <option class="feature" id="cb1" value="blank">Select a Feature</option>
      <option class="feature" id="cb1" value="adventure">Adventure</option>
      <option class="feature" id="cb2" value="biography">Biography</option>
      <option class="feature" id="cb3" value="humor">Comedy</option>
      <option class="feature" id="cb4" value="drama">Drama</option>
      <option class="feature" id="cb5" value="dystopian">Dystopian</option>
      <option class="feature" id="cb6" value="fantasy">Fantasy</option>
      <option class="feature" id="cb7" value="feminist">Feminist</option>
      <option class="feature" id="cb8" value="graphic_novel">Graphic Novel</option>
      <option class="feature" id="cb9" value="historical">Historical</option>
      <option class="feature" id="cb11" value="magic">Magic</option>
      <option class="feature" id="cb11" value="military">Military</option>
      <option class="feature" id="cb12" value="mystery"">Mystery</option>
      <option class="feature" id="cb13" value="religion">Religion</option>
      <option class="feature" id="cb14" value="romance">Romance</option>
      <option class="feature" id="cb15" value="science">Science</option>
      <option class="feature" id="cb16" value="science_fiction">Science Fiction</option>
      <option class="feature" id="cb17" value="thriller">Thriller</option>
      <option class="feature" id="cb18" value="nature">Wildlife and Nature</option>
      <option class="feature" id="cb19" value="young_adult">Young Adult</option>
    </select>
  </label>
  </div>
</div>


</div>


<div class="row" id="recHeader" style="margin-top:10px;">
</div>

<div class="row" id="results">
</div>

<div class="row align-justify" id=resultsButtons style="padding-top:5px;">
  <div class="small-2 columns" id="prevButtonDiv"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns" id="nextButtonDiv"></div>
  </div>

<div class="large reveal" id="bookModal" data-reveal>
<div class="row" id=titleDiv style="padding-left:14px"></div>
<div class="row" id=authorDiv style="padding-left:14px"></div>
<div class="row">
  <div class="shrink columns" id="book_container" style="margin-right:20px; margin-top:10px;">
      <div class="row">
      <img class=modalBookCover id="modalCover">
      </div>
      <div class="row">
      <div class="shrink columns" id="upVoteContainer">
        <img class="upVoteModal" title="more like this" id=upVoteImg src="{{url_for('static', filename='html_images/thumbs_up_1.jpg')}}">
      </div>
      <div class="shrink columns" id="downVoteContainer" style="margin-left:-20px">
        <img class="downVoteModal" title="less like this" id = downVoteImg src="{{url_for('static', filename='html_images/thumbs_down_1.jpg')}}">
      </div>
    </div>
  </div>
  <div class="medium-4 columns description" id="descriptionDiv" style="padding-bottom:30px">
  </div>
  <div class="medium-4 columns" id="d3_container">
  </div>
</div>
</div>

<script id="resultScript">
  <img class="resultCover"/>
  <div class="row" id="votes">
    <div class="small-2 columns" id="upVoteDiv" style="padding-left:55px;">
      <img class="upVote" title="more like this" src="{{url_for('static', filename='html_images/thumbs_up_1.jpg')}}">
    </div>
    <div class="small-2 columns" id="downVoteDiv">
      <img class="downVote" title="less like this" src="{{url_for('static', filename='html_images/thumbs_down_1.jpg')}}">
    </div>
  </div>
</script>

<script id="featureScript">
  <div class="row">
  <img class="removeFeatureButton"  onclick=removeFeature(this)>

  <label>
    <select class="featureSelect" id='selectedValue' >
      <option class="feature" id="cb1" value="blank">Select a Feature</option>
      <option class="feature" id="cb1" value="adventure">Adventure</option>
      <option class="feature" id="cb2" value="biography">Biography</option>
      <option class="feature" id="cb3" value="humor">Comedy</option>
      <option class="feature" id="cb4" value="drama">Drama</option>
      <option class="feature" id="cb5" value="dystopoian">Dystopian</option>
      <option class="feature" id="cb6" value="fantasy">Fantasy</option>
      <option class="feature" id="cb7" value="feminist">Feminist</option>
      <option class="feature" id="cb8" value="graphic_novel">Graphic Novel</option>
      <option class="feature" id="cb9" value="historical">Historical</option>
      <option class="feature" id="cb11" value="magic">Magic</option>
      <option class="feature" id="cb11" value="military">Military</option>
      <option class="feature" id="cb12" value="mystery"">Mystery</option>
      <option class="feature" id="cb13" value="religion">Religion</option>
      <option class="feature" id="cb14" value="romance">Romance</option>
      <option class="feature" id="cb15" value="science">Science</option>
      <option class="feature" id="cb16" value="science_fiction">Science Fiction</option>
      <option class="feature" id="cb17" value="thriller">Thriller</option>
      <option class="feature" id="cb18" value="nature">Wildlife and Nature</option>
      <option class="feature" id="cb19" value="young_adult">Young Adult</option>
    </select>
  </label>
  </div>
</script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src= "{{ url_for('static', filename="js/d3_models.js") }}"></script>




<script>


function upVoteFun(upVoteEle, upVoteImg, downVoteEle, downVoteImg){
  $(upVoteEle).click();
  upVoteImg.src = upVoteEle.src
  downVoteImg.src = downVoteEle.src


};


function downVoteFun(upVoteEle, upVoteImg, downVoteEle, downVoteImg){
  $(downVoteEle).click();
  downVoteImg.src = downVoteEle.src
  upVoteImg.src = upVoteEle.src



};


function insertBookInfo(book_info, upVoteEle, downVoteEle, imgEle) {
    var title = book_info[0];
    var author = book_info[1];
    var description = book_info[2];
    var titleDiv = document.getElementById("titleDiv");    
    var authorDiv = document.getElementById("authorDiv");
    var descriptionDiv = document.getElementById("descriptionDiv")
    titleDiv.innerHTML = ""
    authorDiv.innerHTML = ""
    descriptionDiv.innerHTML = ""
    var img = document.getElementById("modalCover")
    img.src = imgEle.src
    var d3_container = document.getElementById("d3_container");
    var titleElem = document.createElement("h2");
    var authorElem = document.createElement("h5");
    var descElem = document.createElement("p");
    descElem.innerHTML = description
    titleElem.innerHTML = title
    authorElem.innerHTML = author
    titleDiv.appendChild(titleElem);
    authorDiv.appendChild(authorElem);
    descriptionDiv.appendChild(descElem);
    var upVoteImg = document.getElementById("upVoteImg");
    upVoteImg.className='upVoteModal'
    upVoteImg.src=upVoteEle.src
    var downVoteImg = document.getElementById("downVoteImg");
    downVoteImg.className='downVoteModal'
    downVoteImg.src=downVoteEle.src
    upVoteImg.onclick = function (){
      upVoteFun(upVoteEle, upVoteImg, downVoteEle, downVoteImg);
    };
    downVoteImg.onclick = function (){
      downVoteFun(upVoteEle, upVoteImg, downVoteEle, downVoteImg);
    };
    }

$(document).ready(function ()  {
    $(".recCover").click(function() {
      $(this).toggleClass("HL");
      var webId = this.id
      if (this.className.substring(9) == "HL"){
        bookSelections.push(webId);
        upVoted = [];
        downVoted = [];
        booksReturned = [];
        recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead)
      
      }
      else {
        var index = bookSelections.indexOf(webId)
        bookSelections.splice(index, 1);
        upVoted = [];
        downVoted = [];
        booksReturned = [];

        recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead);
      }   
    });
  });

function removeFeature(ele){
  var select = ele.parentNode.querySelector(".featureSelect")
  // Change selected option
  $(select).val('blank');
  // Or use selectedIndex: $("#selectboxID")[0].selectedIndex = 0;

  // Fire change event
  $(select).trigger('change');
  select.click()


};



function selectFeature(){
     if(this.id !== this.value){
     var column = this.parentNode.parentNode.parentNode
     var row = column.parentNode
    if (this.value !== 'blank'){
      if (this.id !== 'selectedValue') {
          var oldFeature = this.id
          var index = featureSelections.indexOf(oldFeature);
          featureSelections.splice(index, 1)};
      var img = this.parentNode.parentNode.querySelector('.removeFeatureButton')
      img.src = "{{url_for('static', filename='html_images/remove_button.svg')}}"
      var feature = this.value
      featureSelections.push(feature);
      upVoted = [];
      downVoted = [];
      booksReturned = [];
      recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead);
      if (this.id == 'selectedValue') {
        nFeatureContainers = nFeatureContainers + 1 ;
        var newColumn = document.createElement('div')
        newColumn.className = "small-3 columns"
        newColumn.innerHTML = document.getElementById('featureScript').innerHTML;
      $(newColumn).on("click", ".featureSelect", selectFeature);
      row.insertBefore(newColumn, row.firstChild);
      //row.appendChild(newColumn)
        };
      this.id = this.value

      }
    else{
      if (this.id != 'selectedValue'){
      var feature = this.id
      var index = featureSelections.indexOf(feature);
      featureSelections.splice(index, 1)
    };
      upVoted = []
      downVoted = []
      booksReturned = [];
      recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead);
      if (($(row).children().length > 1 &&  $(row).children().length > featureSelections.length+1)
          ){
      row.removeChild(column)
      nFeatureContainers = nFeatureContainers - 1 
        }
    };
  };
};

$(document).ready(function ()  {
    $(".featureSelect").on("click", function () {
      selectFeature.call(this);
      
    });
  });
  

var nFeatureContainers = 1 

var upVoted = [];
var downVoted = [];
var bookSelections = [];
var featureSelections = [];
var booksReturned = [];
var booksRead = {{ books_read }}

$(document).ready(function ()  {
  $(document).on('click',".upVote", function ()  {
      $(this).toggleClass("Cl");     
      var webId = this.id;
      var downVote = this.parentNode.parentNode.querySelector(".downVote");
      
      if ($.inArray(webId, downVoted) > -1){
        var index = downVoted.indexOf(webId);
        downVoted.splice(index, 1);
        downVote.src = "{{url_for('static', filename='html_images/thumbs_down_1.jpg')}}";
        downVote.className = 'downVote';  
      }

      if (this.className.substring(7) == "Cl"){
        upVoted.push(webId);
        this.src = "{{url_for('static', filename='html_images/thumbs_up_2.jpg')}}";      
      }

      else {
        var index = upVoted.indexOf(webId);
        upVoted.splice(index, 1);
        this.src = "{{url_for('static', filename='html_images/thumbs_up_1.jpg')}}"
      };
      
 
    });
  });




$(document).ready(function ()  {
  $(document).on('click',".downVote", function ()  {
      $(this).toggleClass("Cl");
      var webId = this.id;
      var upVote = this.parentNode.parentNode.querySelector(".upVote");

      if ($.inArray(webId, upVoted) > -1){
        var index = upVoted.indexOf(webId);
        upVoted.splice(index, 1);
        upVote.src = "{{url_for('static', filename='html_images/thumbs_up_1.jpg')}}";
        upVote.className = 'upVote';  
      }

      if (this.className.substring(9) == "Cl"){
        downVoted.push(webId)
        this.src = "{{url_for('static', filename='html_images/thumbs_down_2.jpg')}}";      
      }
      else {
        var index = downVoted.indexOf(webId)
        downVoted.splice(index, 1);
        this.src = "{{url_for('static', filename='html_images/thumbs_down_1.jpg')}}"
      };
  
    });
  });





/*(function init() {
	var lastBookDiv = document.querySelectorAll(['.c-rating']);
	 	for (var i = 1; i < lastBookDiv.length+1; i++) {
		 	console.log('list item number:')
      var iter = i.toString()
      var iterId = 'iter'.concat(iter)
      var bookElem = document.getElementById(iterId);   
      var webIdElem = bookElem.querySelector('.current_rating_div');
      current_rating = webIdElem.id 
	    addRatingWidget(bookElem, current_rating);
      }
})


();
*/

<!-- FUNCTION TO DISPLAY FEATURES -->
     function drawD3(webId, upVoteEle, downVoteEle, imgEle){
      $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });
       $.ajax({
         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "{{ url_for('recommender.keywords_to_d3') }}",
         dataType: "json",
         async: true,
         data: JSON.stringify({"book_id": [webId]}),   
         success: function (data) {
          insertBookInfo(data['book_info'], upVoteEle, downVoteEle, imgEle)
          console.log('test')
          console.log(data);
         var elements = document.getElementsByClassName("node");
        while (elements[0]) elements[0].parentNode.removeChild(elements[0]);
         circle_plot(data["d3_info"]);
         d3_container = document.getElementById("d3_container");

          $('html, body').animate({
          scrollTop: $("#d3_container").offset().top
          }, 1000);

         },
         error: function (result) {
         console.log('you messed up')
         }
       })
     }



function recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead){

      $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });

       $.ajax({

         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "{{ url_for('recommender.results') }}",
         dataType: "json",
         async: true,
         data: JSON.stringify({"recommendation_data":[{"books_selected": bookSelections, "features_list":featureSelections, "up_voted":upVoted, "down_voted":downVoted, 
          "books_returned":booksReturned, "books_read":booksRead }]}),  
         success: function (data) {
         console.log('successfully deleted:');
          showResults(data['recommendations']);
          for (i = 0; i<6; i++){
            booksReturned.push(data['recommendations'][i])
          };
         },
         error: function (result) {
         console.log('you messed up')
         }
       })
     };

function prevClick(){
  booksReturned.splice(booksReturned.length -12, 12)
  recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead)
}


function showResults(recommendations){
  var result_div = document.getElementById("results");
  result_div.innerHTML=''
  var recHeader = document.getElementById("recHeader");
  recHeader.innerHTML =   '<h5>Recommendations</h5>';
  var prevDiv = document.getElementById("prevButtonDiv");
  var nextDiv = document.getElementById("nextButtonDiv");
  prevDiv.innerHTML = ''
  nextDiv.innerHTML = ''
  if (booksReturned < 7){
    var buttonClass = 'button medium disabled'
  }
  else {
    var buttonClass = 'button medium'
  };
  $('<a/>', {
    'id':'prevButton',
    'class':buttonClass,
    'text':'previous',
    'style': 'font-weight:bold;',
    'onclick': 'prevClick()'
    }).appendTo(prevDiv);

    $('<a/>', {
    'id':'nextButton',
    'class':'button medium',
    'text':'get more',
    'style':'float:right; font-weight:bold;',
    'onclick': 'recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned, booksRead)'
    }).appendTo(nextDiv);
  for (var i = 0; i < 6; i++) {
    webId = recommendations[i];
    var result = document.createElement('div');
    result.className="small-2 columns";
    result.id = recommendations[i]
    var result_content = document.getElementById('resultScript').innerHTML;
    result.innerHTML = result_content;
    var img = result.querySelector('img');
    img.id = recommendations[i];
    

    var imgSrc_beg = "{{url_for('static', filename='book_covers/')}}";
    var imgSrc_end = recommendations[i] + '.jpg';
    img.src = imgSrc_beg + imgSrc_end;
    var upVoteEle = result.querySelector(".upVote");
    var downVoteEle = result.querySelector(".downVote");
    upVoteEle.id=recommendations[i];
    downVoteEle.id=recommendations[i];

    img.onclick = function () {
      drawD3(this.id, this.parentNode.querySelector(".upVote"), this.parentNode.querySelector(".downVote"), this.parentNode.querySelector('.resultCover')) ;
      var popup = new Foundation.Reveal($('#bookModal'));
      popup.open()
    };
    result_div.appendChild(result);


  }
}



/*function removeBook(book_info){
  var book_id = book_info[0]
  var i = book_info[1]
  var iter = i.toString()
  var iterId = 'iter'.concat(iter)
  var BookElem = document.getElementById(iterId)
  deleteReadRecord(book_id)
  BookElem.parentNode.removeChild(BookElem)



}

     function cearRatingClick(ratingElement, bookElem, clearRatingElem){
                            	ratingElement.innerHTML='';
                            	addRatingWidget(bookElem, 0)
                            	clearRatingElem.parentNode.removeChild(clearRatingElem)}

     function addClearRating(bookElem, ratingElement){    	                            
     	var clearRatingElem = document.createElement("p")
     	clearRatingElem.className = 'clearRatingElem';
     	clearRatingElem.innerHTML = 'Clear Rating';
      book_id = bookElem.querySelector('.book_id').id;
      console.log(book_id);
     	clearRatingElem.onclick = function () {
                            	ratingElement.innerHTML='';
                            	addRatingWidget(bookElem, 0)
                            	clearRatingElem.parentNode.removeChild(clearRatingElem)
                              deleteReadRecord(book_id)}

      console.log('worked')                        
      ratingElement.parentNode.lastElementChild.appendChild(clearRatingElem)


     }
      

    // ADD RATING WIDGET
    function addRatingWidget(bookElem, currentRating) {
    	
      console.log('function called');
      var ratingElement = bookElem.querySelector('.c-rating');
      console.log(bookElem)
      console.log(ratingElement);
      console.log(bookWebId)
      var bookWebId = ratingElement.parentNode.id;
      console.log(bookWebId);
      var maxRating = 5;
      var callback = function(rating, bookWebId, ratingElement) {
      	var ratingElement = bookElem.querySelector('.c-rating')
      	var bookWebId = ratingElement.parentNode.id;
      	sendBookData(rating, ratingElement, bookWebId, bookElem)
      	 }
      var r = rating(ratingElement, currentRating, maxRating, callback);  
    }
     */


</script>
 
{% endblock %}






{% block scripts %}
{{ super() }}




{% endblock %}
