{% extends "base.html" %}


{% block content %}
{{ super() }}
  
  <div class="row" style="padding-bottom: 30px; padding-top: 30px">
  	<h4>Let's find your next book!</h4>
<meta name="csrf-token" content="{{ csrf_token() }}">
   </div>
<div class=row style='box-shadow: inset 0 0 5px 1px gray; height: 320px;overflow:scroll; padding: 15px'>
<div class=row>
  {% set n = 0 %}
  {% for book_read in current_user.books_read %}	
  {% set n = n+1 %}
  {% set book = db.session.query(Book).filter_by(id=book_read.book_id).first()%}
  	{% with author=book.author, title=book.title, web_id=book.web_id, n=n, current_rating=book_read.rating, book_id=book.id %}
      {% include 'recommendations_book.html' %} 
  	{% endwith %}
 	{% endfor %}
 </div>
 </div>

<div class="row" style="padding-top:15px">
<h5>Add any additional features</h5>
</div>
<div class="row">
<div class="shrink columns">
 <div class="chexbox-column">
  <div>
    <input class=featureBox type="checkbox" class=featureBox id="cb1" value="adventure" onclick="check_box(this)" /><label for="cb1>">Adventure</label> 
  </div>
  <div>
    <input class=featureBox type="checkbox" class=featureBox id="cb2" value="biography" onclick="check_box(this)" /><label for="cb2>">Biography</label>
  </div> 
  <div>
    <input class=featureBox type="checkbox" class=featureBox id="cb3" value="humor" onclick="check_box(this)"/><label  for="cb3>">Comedy</label> 
  </div>
  <div>
    <input class=featureBox type="checkbox" class=featureBox id="cb4" value="drama" onclick="check_box(this)" /><label for="cb4>">Drama</label>
  </div>  
</div>
</div>


<div class="shrink columns">
<div class="chexbox-column">

  <div>
    <input type="checkbox" class=featureBox id="cb5" value="dystopoian" onclick="check_box(this)" /><label for="cb5>">Dystopian</label> 
  </div>
  <div>
    <input type="checkbox" class=featureBox id="cb6" value="fantasy" onclick="check_box(this)"/><label  for="cb6">Fantasy</label> 
  </div>
  <div>
    <input type="checkbox" class=featureBox id="cb7" value="feminist" onclick="check_box(this)"/><label  for="cb7">Feminist</label> 
  </div>
  <div>
    <input type="checkbox" class=featureBox id="cb8" value="graphic_novel" onclick="check_box(this)" /><label for="cb8>">Graphic Novel</label>
  </div>
</div>
</div>


<div class="shrink columns">
<div class="chexbox-column">
 <div>
  <input type="checkbox" class=featureBox id="cb9" value="historical" onclick="check_box(this)"/><label  for="cb9>">Historical</label> 
  </div>
  <div>
    <input type="checkbox" class=featureBox id="cb10" value="magic" onclick="check_box(this)"/><label  for="cb10">Magic</label> 
  </div>
  <div> 
    <input type="checkbox" class=featureBox id="cb11" value="military" onclick="check_box(this)" /><label for="cb11>">Military</label>
  </div>
   <div>
    <input type="checkbox" class=featureBox id="cb12" value="mystery" onclick="check_box(this)" /><label for="cb12>">Mystery</label>
  </div>

</div>
</div>



<div class="shrink columns">
<div class="chexbox-column">
  <div>
    <input type="checkbox" class=featureBox id="cb13" value="religion" onclick="check_box(this)" /><label for="c13>">Religion</label> 
  </div>
  <div>
      <input type="checkbox" class=featureBox id="cb14" value="romance" onclick="check_box(this)" /><label for="c14>">Romance</label>
  </div>
  <div>
      <input type="checkbox" class=featureBox id="cb15" value="science" onclick="check_box(this)" /><label for="c15>">Science</label> 
  </div>
  <div>
      <input type="checkbox" class=featureBox id="cb16" value="science_fiction" onclick="check_box(this)" /><label for="c16>">Science Fiction</label> 
  </div>

  </div>
  </div>


<div class="shrink columns">
<div class="chexbox-column">

  <div>
    <input type="checkbox" class=featureBox id="cb17" value="thriller" onclick="check_box(this)" /><label for="cb17>">Thriller</label>
  </div>
  <div>
      <input type="checkbox" class=featureBox id="cb18" value="nature" onclick="check_box(this)"/><label for="cb18">Wildlife and Nature</label> 
  </div>
  <div>
      <input type="checkbox" class=featureBox id="cb19" value="young_adult" onclick="check_box(this)"/><label  for="cb19">Young Adult</label>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="row" id="recHeader" style="margin-top:10px;">
</div>

<div class="row" id="results">
</div>

<div class="row align-justify" id=resultsButtons style="padding-top:5px;">
  <div class="small-2 columns" id="prevButtonDiv"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns"></div>
  <div class="small-2 columns" id="nextButtonDiv"></div>
  </div>

<div class="large reveal" id="bookModal" data-reveal>
<div class="row" id=titleDiv></div>
<div class="row">
  <div class="medium-6 columns" id="descriptionDiv">
  </div>
  <div class="medium-6 columns" id="d3_container">
  </div>
</div>
</div>

<script id="resultScript">
  <img class="resultCover"/>
  <div class="row" id="votes">
    <div class="small-2 columns" id="upVoteDiv" style="padding-left:55px;">
      <img class="upVote" src="/static/html_images/thumbs_up_1.jpg">
    </div>
    <div class="small-2 columns" id="downVoteDiv">
      <img class="downVote" src="/static/html_images/thumbs_down_1.jpg">
    </div>
  </div>
</script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../static/js/vendor/rating.min.js"></script>
<script src="../static/js/vendor/rating_script.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../static/js/d3_models.js"></script>



<script>



function insertBookInfo(book_info) {
    var title = book_info[0];
    var author = book_info[1];
    var description = book_info[2];
    var titleDiv = document.getElementById("titleDiv")
    var descriptionDiv = document.getElementById("descriptionDiv")
    titleDiv.innerHTML = ""
    descriptionDiv.innerHTML = ""
    var d3_container = document.getElementById("d3_container");
    var heading1 = document.createElement("h1");
    var heading4 = document.createElement("h4");
    var para = document.createElement("p");
    para.innerHTML = description
    heading1.innerHTML = title
    heading4.innerHTML = author
    titleDiv.appendChild(heading1);
    titleDiv.appendChild(heading4);
    descriptionDiv.appendChild(para);
    }

$(document).ready(function ()  {
    $(".recCover").click(function() {
      $(this).toggleClass("HL");
      var webId = this.id
      if (this.className.substring(9) == "HL"){
        bookSelections.push(webId);
        booksReturned = [];
        recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned)
      
      }
      else {
        var index = bookSelections.indexOf(webId)
        bookSelections.splice(index, 1);
        recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned);
      }   
    });
  });

$(document).ready(function ()  {
    $(".featureBox").click(function() {
    var feature = this.value
    if ($(this).is(':checked')){
      featureSelections.push(feature);
      booksReturned = [];
      recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned);
      }
    else 
      {var index = downVoted.indexOf(feature);
      featureSelections.splice(index, 1);
      booksReturned = [];
      recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned);
    };
    });
  });
  


var upVoted = [];
var downVoted = [];
var bookSelections = [];
var featureSelections = [];
var booksReturned = [];


$(document).ready(function ()  {
  $(document).on('click',".upVote", function ()  {
      $(this).toggleClass("Cl");     
      var webId = this.id;
      var downVote = this.parentNode.parentNode.querySelector(".downVote");
      
      if ($.inArray(webId, downVoted) > -1){
        var index = downVoted.indexOf(webId);
        downVoted.splice(index, 1);
        downVote.src = "/static/html_images/thumbs_down_1.jpg";
        downVote.className = 'downVote';  
      }

      if (this.className.substring(7) == "Cl"){
        upVoted.push(webId);
        this.src = "/static/html_images/thumbs_up_2.jpg";      
      }

      else {
        var index = upVoted.indexOf(webId);
        upVoted.splice(index, 1);
        this.src = "/static/html_images/thumbs_up_1.jpg"
      };
      
 
    });
  });

$(document).ready(function ()  {
  $(document).on('click',".downVote", function ()  {
      $(this).toggleClass("Cl");
      var webId = this.id;
      var upVote = this.parentNode.parentNode.querySelector(".upVote");

      if ($.inArray(webId, upVoted) > -1){
        var index = upVoted.indexOf(webId);
        upVoted.splice(index, 1);
        upVote.src = "/static/html_images/thumbs_up_1.jpg";
        upVote.className = 'upVote';  
      }

      if (this.className.substring(9) == "Cl"){
        downVoted.push(webId)
        this.src = "/static/html_images/thumbs_down_2.jpg"      
      }
      else {
        var index = downVoted.indexOf(webId)
        downVoted.splice(index, 1);
        this.src = "/static/html_images/thumbs_down_1.jpg"
      };
  
    });
  });






/*(function init() {
	var lastBookDiv = document.querySelectorAll(['.c-rating']);
	 	for (var i = 1; i < lastBookDiv.length+1; i++) {
		 	console.log('list item number:')
      var iter = i.toString()
      var iterId = 'iter'.concat(iter)
      var bookElem = document.getElementById(iterId);   
      var webIdElem = bookElem.querySelector('.current_rating_div');
      current_rating = webIdElem.id 
	    addRatingWidget(bookElem, current_rating);
      }
})


();
*/

<!-- FUNCTION TO DISPLAY FEATURES -->
     function drawD3(webId){
      $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });
       $.ajax({
         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "{{ url_for('recommender.keywords_to_d3') }}",
         dataType: "json",
         async: true,
         data: JSON.stringify({"book_id": [webId]}),   
         success: function (data) {
          insertBookInfo(data['book_info'])
          console.log('test')
          console.log(data);
         var elements = document.getElementsByClassName("node");
        while (elements[0]) elements[0].parentNode.removeChild(elements[0]);
         circle_plot(data["d3_info"]);
         d3_container = document.getElementById("d3_container");

          $('html, body').animate({
          scrollTop: $("#d3_container").offset().top
          }, 1000);

         },
         error: function (result) {
         console.log('you messed up')
         }
       })
     }



function recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned){
      $.ajaxSetup({
            headers:
            { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });

       $.ajax({

         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "{{ url_for('recommender.results') }}",
         dataType: "json",
         async: true,
         data: JSON.stringify({"recommendation_data":[{"books_selected": bookSelections, "features_list":featureSelections, "up_voted":upVoted, "down_voted":downVoted, "books_returned":booksReturned}]}),  
         success: function (data) {
         console.log('successfully deleted:');
          showResults(data['recommendations']);
          for (i = 0; i<6; i++){
            booksReturned.push(data['recommendations'][i])
          };
         },
         error: function (result) {
         console.log('you messed up')
         }
       })
     };

function prevClick(){
  booksReturned.splice(booksReturned.length -12, 12)
  recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned)
}


function showResults(recommendations){
  var result_div = document.getElementById("results");
  result_div.innerHTML=''
  var recHeader = document.getElementById("recHeader");
  recHeader.innerHTML =   '<h5>Recommendations</h5>';
  var prevDiv = document.getElementById("prevButtonDiv");
  var nextDiv = document.getElementById("nextButtonDiv");
  prevDiv.innerHTML = ''
  nextDiv.innerHTML = ''
  $('<a/>', {
    'id':'prevButton',
    'class':'button small',
    'text':'previous',
    'onclick': 'prevClick()'
    }).appendTo(prevDiv);
    $('<a/>', {
    'id':'nextButton',
    'class':'button small',
    'text':'next',
    'style':'float:right',
    'onclick': 'recommendBooks(bookSelections, featureSelections, upVoted, downVoted, booksReturned)'
    }).appendTo(nextDiv);
  for (var i = 0; i < 6; i++) {
    webId = recommendations[i];
    var result = document.createElement('div');
    result.className="small-2 columns";
    var result_content = document.getElementById('resultScript').innerHTML;
    result.innerHTML = result_content;
    var img = result.querySelector('img');
    img.id = recommendations[i];
    img.onclick = function () {
      drawD3(this.id);
      var popup = new Foundation.Reveal($('#bookModal'));
      popup.open()
    };
    var imgSrc_beg = "{{url_for('main.download_file', filename='')}}";
    var imgSrc_end = recommendations[i] + '.jpg';
    img.src = imgSrc_beg + imgSrc_end;
    var upVote = result.querySelector(".upVote");
    var downVote = result.querySelector(".downVote");
    upVote.id=recommendations[i];
    downVote.id=recommendations[i];
    result_div.appendChild(result);


  }
}



/*function removeBook(book_info){
  var book_id = book_info[0]
  var i = book_info[1]
  var iter = i.toString()
  var iterId = 'iter'.concat(iter)
  var BookElem = document.getElementById(iterId)
  deleteReadRecord(book_id)
  BookElem.parentNode.removeChild(BookElem)



}

     function cearRatingClick(ratingElement, bookElem, clearRatingElem){
                            	ratingElement.innerHTML='';
                            	addRatingWidget(bookElem, 0)
                            	clearRatingElem.parentNode.removeChild(clearRatingElem)}

     function addClearRating(bookElem, ratingElement){    	                            
     	var clearRatingElem = document.createElement("p")
     	clearRatingElem.className = 'clearRatingElem';
     	clearRatingElem.innerHTML = 'Clear Rating';
      book_id = bookElem.querySelector('.book_id').id;
      console.log(book_id);
     	clearRatingElem.onclick = function () {
                            	ratingElement.innerHTML='';
                            	addRatingWidget(bookElem, 0)
                            	clearRatingElem.parentNode.removeChild(clearRatingElem)
                              deleteReadRecord(book_id)}

      console.log('worked')                        
      ratingElement.parentNode.lastElementChild.appendChild(clearRatingElem)


     }
      

    // ADD RATING WIDGET
    function addRatingWidget(bookElem, currentRating) {
    	
      console.log('function called');
      var ratingElement = bookElem.querySelector('.c-rating');
      console.log(bookElem)
      console.log(ratingElement);
      console.log(bookWebId)
      var bookWebId = ratingElement.parentNode.id;
      console.log(bookWebId);
      var maxRating = 5;
      var callback = function(rating, bookWebId, ratingElement) {
      	var ratingElement = bookElem.querySelector('.c-rating')
      	var bookWebId = ratingElement.parentNode.id;
      	sendBookData(rating, ratingElement, bookWebId, bookElem)
      	 }
      var r = rating(ratingElement, currentRating, maxRating, callback);  
    }
     */


</script>
 
{% endblock %}






{% block scripts %}
{{ super() }}
<script src="../static/js/vendor/rating.min.js"></script>
<script src="../static/js/rating_script.js"></script>



{% endblock %}
