{% extends "base.html" %}

{% block content %}

<form method="post" action="/">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>

<div class="row" style="padding-top:40px;">
	<h4>Add Books to your Library</h4>
</div>

<div class="row" >
	<form class="row" action="{{ url_for('main.search') }}" method="post" name="search" >
		<div class="shrink columns">
			{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=40, placeholder='enter title or author') }}
		</div>
		<div class="shrink columns" style="margin-left:-20px">
			<input type="submit" value="Search" class=button>
		</div>

	</form>

	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

</div>


<div class="row", id="search_result">

</div>




{% endblock %}