{% extends "base.html" %}

{% block content %}



<div class="row align-center">
  <div class="login-box">
    <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row align-center">
             {{form.email(placeholder="Email Address")}}
       </div>
      <div class="row align-center">
             {{form.name(placeholder="Name")}}
      </div>
      <div class="row align-center">
             {{form.password1(placeholder="Password")}}
      </div>
      <div class="row align-center">
             {{form.password2(placeholder="Confirm Password")}}
      </div>
      <div class="row align-left">
              {{form.register(class="expanded button")}}
              </div>
      <div class="row align-left">
              {{ form.recaptcha }}

      </div>

    
    </form>
</div>
</div>

{% endblock %}

