{% extends "base.html" %}

{% block content %}


<section class="backgroundContainer">

<div class="row align-center">
  <div class="login-box">
    <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row">
             {{form.email(placeholder="Email Address")}}
             {% for error in form.email.errors %}
            <div class="errorDiv">
              <small class="error">{{error}}</small>
            </div>          {% endfor %}
       </div>
      <div class="row">
             {{form.name(placeholder="Name")}}
             {% for error in form.name.errors %}
              <div class="errorDiv">
                <small class="error">{{error}}</small>
              </div> 
            {% endfor %}

      </div>

      <div class="row">
             {{form.password1(placeholder="Password")}}
             {% for error in form.password1.errors %}
            <div class="errorDiv">
              <small class="error">{{error}}</small>
            </div> 
          {% endfor %}
      </div>
      <div class="row">
             {{form.password2(placeholder="Confirm Password")}}
             {% for error in form.password2.errors %}
      <div class="errorDiv">
        <small class="error">{{error}}</small>
      </div> 
          {% endfor %}
      </div>

      <div class="row align-left">
              {{ form.recaptcha }}

      </div>
      <br>
      <div class="row align-left">
              {{form.register(class="expanded button")}}
      </div>
    
    </form>
</div>
</div>

</section>
{% endblock %}

