{% extends "base.html" %}

{% block content %}



<div class="row align-center">
  <div class="login-box">
    <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row align-center">
             {{form.email(placeholder="Email Address")}}
             {% for error in form.email.errors %}
            <div class ="errorDiv" style="color: red;" >{{ error }}</div>
          {% endfor %}<br>
       </div>
      <div class="row align-center">
             {{form.name(placeholder="Name")}}
      </div>
      <div class="row align-center">
             {{form.password1(placeholder="Password")}}
             {% for error in form.password1.errors %}
            <div class ="errorDiv" style="color: red;" >{{ error }}</div>
          {% endfor %}<br>
      </div>
      <div class="row align-center">
             {{form.password2(placeholder="Confirm Password")}}
             {% for error in form.password2.errors %}
            <div class ="errorDiv" style="color: red;" >{{ error }}</div>
          {% endfor %}<br>
      </div>

      <div class="row align-left">
              {{ form.recaptcha }}

      </div>
      <div class="row align-left">
              {{form.register(class="expanded button")}}
      </div>
    
    </form>
</div>
</div>

{% endblock %}

