.backgroundContainer{
	background: url("https://upload.wikimedia.org/wikipedia/commons/2/2b/Bookshelf.jpg") no-repeat center;
	height: 940px;
}

.search_result_cover {
	max-height: 150px;

}

.library_book_cover {
	height: 180px;

}

.removeBook {
	font-size:80%;
	padding-left:9px;
	cursor:pointer;
}

.bookResult {
	padding-bottom: 30px;
	cursor: pointer;
	height: 180px;

}

.recCover{
	cursor:pointer;
	height:205px;
	width: 135px;
}


.recCover:hover{

 -webkit-box-shadow: 0px 0px 10px 2px #28aadc;
-moz-box-shadow:    0px 0px 10px 2px #28aadc;
box-shadow:         0px 0px 10px 2px #28aadc;
}
.recCover:last-of-type:hover{
 -webkit-box-shadow: 0px 0px 10px 2px #28aadc;
-moz-box-shadow:    0px 0px 10px 2px #28aadc;
box-shadow:         0px 0px 10px 2px #28aadc;
}

.recCover.HL{
	outline: solid 7px #28aadc
}

input[type="checkbox"] {
  display: inline-block;
}

.recLibrary {
	height: 300px;
	overflow:scroll;
	width: 100px;

}

.featureBox {
	margin: 0; 
	padding: 0;  
	height:13px;
}

.resultCover{
	cursor:pointer;
	height:210px;
}

.upVote{
	height:25px;

}

.downVote{
	height:25px;

	


