.search_result_cover {
	max-height: 150px;

}

.library_book_cover {
	max-height: 180px;

}

.removeBook {
	font-size:80%;
	padding-left:9px;
	cursor:pointer;
}

.bookResult {
	padding-bottom: 30px;
	cursor: pointer;
	max-height: 180px;

}

.recCover{
	cursor:pointer;
	max-height:210;
}

.recLibrary {
	height: 300px;
	overflow:scroll;
	
}


.recCover:hover{

 -webkit-box-shadow: 0px 0px 10px 2px #28aadc;
-moz-box-shadow:    0px 0px 10px 2px #28aadc;
box-shadow:         0px 0px 10px 2px #28aadc;
}
.recCover:last-of-type:hover{
 -webkit-box-shadow: 0px 0px 10px 2px #28aadc;
-moz-box-shadow:    0px 0px 10px 2px #28aadc;
box-shadow:         0px 0px 10px 2px #28aadc;
}

.recCover.HL{
	outline: solid 7px #28aadc
}

input[type="checkbox"] {
  display: inline-block;
}


