.search_result_cover {
	max-height: 150px;

}

.library_book_cover {
	max-height: 180px;

}

.removeBook {
	font-size:80%;
	padding-left:9px;
}

.bookResult {
	padding-bottom: 30px;

}

.recLibrary {
	height: 300px;
	overflow:scroll;
	
}
